<div class="content-boundaries">
  <div class="p-grid">
    <div class="p-col-2 footer-logo ">
      <!--<img src="" alt=""> Logo Image-->
    </div>

    <div class="p-col-4">
      <!--<p>Why you should working with my company</p>-->
    </div>

    <div class="p-col-3 footer-links">
      <p class="body-bold">Sitemap</p>
      <!--<p><a [routerLink]="[ '/about' ]">About me</a></p>
      <p><a [routerLink]="[ '/faq' ]">FAQ</a></p>-->
    </div>
    <div class="p-col-3 footer-links">
      <p class="body-bold">Rechtliches</p>
      <!--<p><a [routerLink]="[ '/imprint' ]">Impressum</a></p>
      <p><a [routerLink]="[ '/privacy' ]">Datenschutz</a></p>-->
    </div>

  </div>

  <div class="p-grid">
    <div p-col-4>
      <hr class="footer-divider">
    </div>
  </div>

  <div  class="p-grid p-justify-center	 row-margin-bottom footer-credits">
    <div class="p-col-1"></div>
    <div class="p-col-10">
      <p class="body-small">©2020 Thomas Durchdewald. All rights reserved.</p>
    </div>
    <div class="p-col-1"></div>
  </div>
</div>
