@import "../../../../style_variables.scss";

.bg-landing {

  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  // opacity: 0.3;
  // opacity: 0.3;
  height: 720px;
  min-height: 720px;
  background-image: url("../../../../assets/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (min-width: $tablet-breakpoint) {
    height: 720px;
    min-height: 720px;
    background-image: url("../../../../assets/office.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}

:host {
  display: block;
  margin-top: 10rem;
  margin-bottom: 10rem;
  @media only screen and (min-width: $tablet-breakpoint) {
    margin-top: 13rem;
    margin-bottom: 13rem;
  }
}

.landing-signup-now {
  text-align: center;

  span {
    color: $primary-color;
  }
}

